#skills {
    /* min-height: calc(100vh - 4rem); */
    width: 100vw;
    max-width: 60rem;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 16px;

    .skillsTitle {
        font-size: 34px;
        font-weight: 600;
        padding-top: 32px;
        margin-bottom: 10px;
    }

    .skillsDesc {
        font-weight: 400;
        font-size: 18px;
        max-width: 45rem;
        padding: 20px;
    }

    .skillsImgs {
        margin: 16px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100vw;
        max-width: 65rem;

        .skillsImg {
            object-fit: cover;
            min-width: 9rem;
            margin: auto;
            padding: 0.25rem;
            width: 170px;
            height: 170px;
        }
    }
}
