@media screen and (min-width: 850px) {
    .menuIconBtn {
        display: none !important;
    }
}

@media screen and (max-width: 850px) {
    .toolbar {
        display: none !important;
    }
    .contactButton {
        display: none !important;
    }
    .menuIconBtn {
        display: flex !important;
    }
}
