.navbar {
    background: rgb(30, 30, 30);
    height: 5rem; /* 80px*/
    width: 100vw; /* 1000px*/
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem; /* 100px 10px */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    overflow: hidden;

    .logo {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

    .desktopMenu {
        .desktopMenuListItem {
            margin: 16px;
            color: white;
            cursor: pointer;
        }
    
        .desktopMenuListItem:hover {
            color: yellow;
            padding-bottom: 8px;
            border-bottom: 3px solid yellow;
        }
    }

    .desktopMenuBtn {
        background: white;
        color: black;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px 0 16px;
        border-radius: 32px;
        cursor: pointer;

        .desktopMenuImg {
            object-fit: cover;
            height: 20px;
            width: 20px;
            margin: 16px;
        }
    }

    .active {
        color: yellow !important;
        padding-bottom: 8px;
        border-bottom: 3px solid yellow;
    }

    .mobileMenu {
        height: 40px;
        width: 40px;
        object-fit: cover;
        display: none;
    }

    .navMenu {
        position: fixed; /* absolute */
        top: 4rem;
        right: 2rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        height: fit-content;
        min-width: 15rem;
        background: rgb(40, 40, 40);
        border-radius: 16px;
        cursor: default;

        .listItem {
            color: white;
            padding: 8px 48px;
            margin: 0.25rem;
            background: rgb(30, 30, 30);
        }
    }
}

@media screen and (max-width: 750px) {
    .mobileMenu {
        display: flex !important;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none !important; 
    }
}
