
.profile {
    position: absolute;
    top: 80px;
    right: 40px;
    object-fit: cover;
    z-index: -1;
    height: 600px;
    width: 400px;
    border-radius: 20px;
}

@media screen and (max-width: 840px) {
    .profile {
        right: -10vw;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        right: -20vw;
    }
}
